@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

body{
    text-align: center;
    background: #21272e;
    font-weight: 100;
    font-family: 'Fira Mono', monospace;
}

h1{
  color: #1ABC9C;
  font-weight: 100;
  font-size: 40px;
}

.container{
    font-family: 'Fira Mono', monospace;
    color: #E74C3C;
    width:100%;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    border:1px solid black;
}

.clock {
    width:25%;
    display: inline-block;
    color:#E74C3C;
}

span{
    padding: 15px;
    border-radius: 3px;
    background: #21272E;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
    color:#1ABC9C;
}