@import url('https://fonts.googleapis.com/css?family=Fira+Mono');


@media screen and (max-width: 720px) {
    .clock {
        width:40%!important;
    }
}

* {
    margin:0;
    transition: 0.5s;
}
html, body {
    height:100%;
}

body{
    text-align: center;
    background: #21272e;
    font-weight: 100;
    font-family: 'Fira Mono', monospace;
    font-size: 30px;
}

h1{
  color: #E74C3C;
  font-weight: 300;
  font-size: 2.2em;
  padding-top:20px;
  padding-bottom:20px;
}

#clockdiv {
    font-family: 'Fira Mono', monospace;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}


.clock {
    background-color: #E74C3C;
    display: inline-block;
    color:#E74C3C;
    flex-grow:1;
    flex-shrink: 1;
    margin:10px;
    padding:20px;
}

span{
    display: inline-block;
    color:#21272E;
    font-size: 2em;
}

.smalltext{
    font-size: 1em;
    color:#21272E;
}

.page-wrap {
    min-height: 100%;
  /* equal to footer height */
    margin-bottom: -50px; 

}
.page-wrap:after {
    content: "";
    display: block;
}
.site-footer, .page-wrap:after {
    height: 40px; 
}
.site-footer {
    background: #1ABC9C;
    font-size:0.8em;
    padding-top:10px;
}

::selection {
	background:#1ABC9C;
	color:#21272e;
}
